div#slotview-page {
    div.machine-view-wrapper {
        padding: 50px 100px 50px 100px;
        background: lightgray;
        border: 1px solid black;
        border-radius: 20px;
        div.machine-view-content {
            position: relative;
            border: 1px solid blue;
            min-height: 400px;
            border-radius: 20px;
        }
        div[id*="reel"] {
            position: absolute;
            border: 1px solid green;
            margin: auto;
            height: 380px;
            width: 25%;
            top: 10px;
        }
        div#reel-left {
            left: 104px;
        }
        div#reel-right {
            right: 104px;
        }
        div#reel-middle {
            left: 0;
            right: 0;
        }
    }
}
