@import "./tools";
//pages;
@import "./slotview";
@import "./header";
//general css
@media screen and (max-width: 40em) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 80%;
    }
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    background: @color-primary-4;
    color: white;
    font-size: .5em;
}
article#main-content {
    position: relative;
    min-height: 1000px;
    width: 100%;
}
section.content {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 777px;
    margin: 40px auto 0 auto;
}

